mcp.json
{
  "name": "mcp",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "cc94b894-d29b-4dd9-836d-cfc93d9ed213",
              "name": "={{ $env['ENV'] }}",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -300,
        320
      ],
      "id": "e90f0a85-f5d3-4322-9d4b-6cda66a0ec53",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=You are an expert Asset Manager, tasked with extracting detailed equipment information from construction/heavy machinery websites to do market value comparisons, using available tools.\n\nUse the Firecrawl tools to gather the following data:\n\nitem_description, year, hours, serial_number, dealer, seller_location, phone, price, lot_number, url_to_listing. This data must be current as of June 2025.\n\nIF THE WORD \"AUCTION\" SHOWS UP, DO NOT INCLUDE ITEM IN THE OUTPUT. NO AUCTION VALUES ARE VALID!!\nDO NOT INCLUDE ITEMS THAT SAY \"CALL FOR PRICE\". IF THERE IS NO PRICE, DO NOT INCLDE ITEM. \n\nONLY RETURN A LIST OF JSONS FOR ALL ITEMS.\n\nExample:\n\n[\n  {\n    \"item_description\": \"2021 CATERPILLAR 320GC Crawler Excavators\",\n    \"year\": \"2021\",\n    \"hours\": \"3098\",\n    \"serial_number\": \"CAT00320JLKS10364\",\n    \"dealer\": \"\",\n    \"seller_location\": \"Conover, North Carolina 28613\",\n    \"location\": \"Conover, North Carolina 28613\",\n    \"phone\": \"\",\n    \"price\": \"\",\n    \"lot_number\": \"2140\",\n    \"url_to_listing\": \"https://www.equipmentfacts.com/listings/construction-equipment/auctions/online/245011465?gtmlt=1\"\n  },\n  {\n    \"item_description\": \"2018 CATERPILLAR 320GC Crawler Excavators\",\n    \"year\": \"2018\",\n    \"hours\": \"1,160\",\n    \"serial_number\": \"CAT00320KKTN00420\",\n    \"dealer\": \"Horizon Machinery Company\",\n    \"seller_location\": \"Elgin, South Carolina 29045\",\n    \"location\": \"Elgin, South Carolina 29045\",\n    \"phone\": \"(803) 398-1788\",\n    \"price\": \"USD $147,900\",\n    \"lot_number\": \"\",\n    \"url_to_listing\": \"https://www.machinerytrader.com/listing/for-sale/244828435/2018-caterpillar-320gc-crawler-excavators\"\n  },\n]\n\nIf there are no items found, or if all results yield \"AUCTION\" or \"CALL FOR PRICE\", return empty strings for all fields. \n\nNow, use firecrawl_search to find the items, and use firecrawl_scrape to gather the data for: \n\n{{ $('When chat message received').item.json.chatInput }}",
          "maxIterations": 4
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        440,
        0
      ],
      "id": "cca4de34-aa5c-4a3a-a6b5-81cabc5deb17",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-20250514",
          "cachedResultName": "Claude 4 Sonnet"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        280,
        280
      ],
      "id": "b3770873-6942-45f5-8cd5-77810d871292",
      "name": "Claude 4",
      "credentials": {
        "anthropicApi": {
          "id": "EErYq5Ih6jG1D2bh",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        460,
        460
      ],
      "id": "79fbbf6b-849d-408c-a25e-141bc0bfa41d",
      "name": "Firecrawl Tools",
      "credentials": {
        "mcpClientApi": {
          "id": "eaL7EesvLNwwNKZt",
          "name": "MCP Client (STDIO) account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-mcp.mcpClient",
      "typeVersion": 1,
      "position": [
        -300,
        120
      ],
      "id": "70751a28-0485-44dd-b682-09cc53a0cb99",
      "name": "Firecrawl tools",
      "credentials": {
        "mcpClientApi": {
          "id": "eaL7EesvLNwwNKZt",
          "name": "MCP Client (STDIO) account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeTool",
        "toolName": "={{ $fromAI(\"firecrawl_tool_name\", \"call this tool when you need firecrawl's scraper tool names. \", \"string\") }}"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        740,
        440
      ],
      "id": "929360bd-3f81-48e6-8b42-973dca88afa9",
      "name": "MCP Client",
      "credentials": {
        "mcpClientApi": {
          "id": "eaL7EesvLNwwNKZt",
          "name": "MCP Client (STDIO) account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        180,
        -20
      ],
      "id": "6785d442-78d0-4c00-8218-c82f8d63692d",
      "name": "When chat message received",
      "webhookId": "d63e28a0-1779-40b2-93a1-bea3a4d40968"
    }
  ],
  "pinData": {},
  "connections": {
    "Edit Fields": {
      "main": [
        []
      ]
    },
    "Claude 4": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Firecrawl Tools": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Firecrawl tools": {
      "main": [
        []
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "418ac75b-78a1-45c7-9ee9-0e6a6e08a180",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b53e5eae32c5424292e1526b1fbd2fbbaedf996eb445f2f736a2a7c0ec6fa171"
  },
  "id": "RR8ubXZuJNRBZoQH",
  "tags": []
}